<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%X{UUID}] [%thread] [%logger{36}] [%msg]%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <neverBlock>true</neverBlock>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="ASYNC_CONSOLE" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">
        <appender-ref ref="ASYNC_CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE" />
    </root>

</configuration>